/* Olive: #A3BCB6
Green Leaf: #39603D
Brown Grey: #3C403D
Tanly: #DADED4
White: #FFFFFF */

/** Define Pallete**/
:root {
    --gruen1: #205062;
    --gruen2: #329D9C;
    --gruen3: #CFF4D2;
    --gruen4: #CDE0C9;
    --gruen5: #E0ECDE;
}

/* Background */
body {
    padding: 0;
    margin: 0;
    background: var(--gruen5);
  }
  
/* Header */
.header {
    background-image: url(https://images.unsplash.com/photo-1506784693919-ef06d93c28d2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
    height: 300px;
    background-position: center center;
}

.intro {
    margin: 40px auto;
    padding: 30px 50px;
    background-color: white;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
}

.intro p {
    color: var(--gruen1);
    text-align: center;
    line-height: 25px;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.projects div {
    font: inherit;
    padding: 0 20px;
    color: white;
    overflow: auto;
    opacity: 0.9;
}

.projects p {
    color: white;
    text-align: left;
}

.footer {
    background-color: var(--gruen1);
    height: 50px;
    background-position: center center;
}

.image-credit {
    margin: 10px 10px;
    position: relative;
    top: 25px;
}

/* Projects */
.in-progress {
    background-color: var(--gruen2);
}

/* Typography */

h1 {
    color: var(--gruen5);
    font-family: 'Spartan', sans-serif;
    font-size: 100px;
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    top: 25%;
}

h2 {
    color: var(--gruen3);
    font-family: 'Spartan', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    color: var(--gruen2);
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

h4 {
    color: var(--gruen4);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: .2em;
}

h5 {
    color: var(--gruen4);
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
    margin: 0;
}

/* Page elements */
ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
}

li {
    border-bottom: 1px solid white;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
}

p {
    color: var(--gruen1);
    line-height: 32px;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

a {
    color: var(--gruen2);
}
