/** Define Pallete**/

:root {
    --hue1: #001937;
    --hue2: #173e4d;
    --hue3: #417d7b;
    --hue4: #90c5a7;
    --hue5: #f2ffd3;
}

/* Background */

body {
    padding: 0;
    margin: 0;
    background: var(--hue1);
  }
  
/* Header */

.header {
    height: 200px;
}

.header h1 {
    position: center center;
    top: 75px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    line-height: 100px;
    top: 25%;
}

.intro, .projects div {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 30px 50px;
    overflow: auto;
    width: 75%;
    align-self: center;
}

.intro {
    background-color: #FFF;
}

.intro h3 {
    font-weight: 700;
}

.intro p {
    color: var(--hue1);
    text-align: center;
    line-height: 25px;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/* .footer {
    background-color: var(--hue2);
    height: 50px;
    background-position: center center;
} */

/* Projects */

.projects p {
    color: white;
    text-align: left;
}

.project-plate {
    background-color: var(--hue2);
    transition-duration: 0.75s;
}

.project-plate:hover {
    opacity: 0.75;
}

.in-progress-fallback {
    background-color: var(--hue2);
}

/* Typography */

h1 {
    color: var(--hue5);
    font-family: 'Spartan', sans-serif;
    font-size: 100px;
    text-align: center;
}

h2 {
    color: var(--hue3);
    font-family: 'Spartan', sans-serif;
    font-size: 40px;
    text-align: left;
}

h3 {
    color: var(--hue2);
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

h4 {
    color: var(--hue5);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: .2em;
}

h5 {
    color: var(--hue5);
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
    margin: 0;
}

/* Page elements */
/* ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
}

li {
    border-bottom: 1px solid white;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
} */

p {
    color: var(--hue1);
    line-height: 32px;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

a {
    color: var(--hue2);
}
